// Custom styles.

// background
body {
  background-image:url(/images/background.jpg);
  height:100%;
  width:100%;
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-size:cover;
}

// page-opacity

// 文章内容的透明度设置
.content-wrap {
  opacity: 0.85;
}
// 侧边框的透明度设置
.sidebar {
  opacity: 0.85;
}

// 菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.85);
}

// 搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}